@import '../../styles/variables.scss';

.main {
  margin-top: 166px;

  .beforeButton,
  .afterButton {
    height: 40px;
    border: none;
    background-color: linen;
  }

  .beforeButton {
    position: absolute;
    top: 45%;
    left: 10px;
  }

  .beforeButton:disabled {
    display: none;
  }

  .beforeButton:hover {
    cursor: pointer;
  }

  .afterButton {
    position: absolute;
    top: 45%;
    right: 10px;
  }

  .afterButton:disabled {
    display: none;
  }

  .afterButton:hover {
    cursor: pointer;
  }
}
