@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.cartContainer {
  background-color: #f5f6f8;

  .cartName {
    margin-left: 300px;
    margin-top: 166px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 700;
  }

  .cartBoxContainer {
    display: flex;
    align-content: center;

    .cartBox {
      margin-left: 300px;
      margin-top: 30px;
      width: 600px;
      height: 500px;
      border: 1px solid black;
    }

    .priceBox {
      @include flexDirectColumn;
      align-items: center;
      margin-left: 50px;
      margin-top: 30px;
      width: 300px;
      height: 300px;
      border: 1px solid black;

      .priceDetails {
        width: 300px;
        height: 180px;
        border: 1px solid black;
      }

      .totalPrice {
        list-style: none;

        .checkBoxCircle {
          color: gray;
        }

        .list1 {
          margin-top: 10px;
        }

        .list2 {
          margin-top: 30px;
        }

        .list3 {
          margin-top: 30px;
          height: 50px;
          font-weight: 700;
          line-height: 50px;
          background-color: linen;
        }
      }
    }
  }
}
