* {
  box-sizing: border-box;
  font-family: 'IBMPlexSansKR-Regular', sans-serif, serif;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

body {
  height: 100%;
  background-color: white;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexJustCenter {
  display: flex;
  justify-content: center;
}

@mixin flexDirectColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexJustBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexJustEvenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin flexAlignLeft {
  display: flex;
  align-items: flex-start;
}

$startColor: #ff4242;
$endColor: #f9b418;
