@import '../../styles/variables.scss';

.categories {
  margin-top: 20px;
  padding: 30px 150px;

  .bookIcon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .categoryName {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .bestsellerTitle {
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid $endColor;
    font-size: 1.2rem;
  }

  .bestsellerWrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
  }

  .subcategoryBest {
    text-align: center;
  }

  .numbering {
    margin-bottom: 5px;
    color: gray;
  }

  .bookImg {
    margin-bottom: 10px;
    width: 120px;
    height: 160px;
  }

  .numbering:hover,
  .bookImg:hover,
  .bookName:hover,
  .authorName:hover {
    cursor: pointer;
  }
}
