@import '../../../styles/variables.scss';

.newIssue {
  margin-bottom: 50px;
  padding: 30px 100px;
  background-color: linen;
  position: relative;

  .newIssueTitle {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .newIssueGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookNDesc {
    display: flex;
  }

  .eachBook {
    margin-bottom: 10px;
    width: 150px;
    height: 200px;
    transition: all 0.1s linear;
  }

  .eachBook:hover {
    transform: scale(1.1);
  }

  .bookDesc {
    width: 150px;
    height: 60px;
  }

  .beforeButton,
  .afterButton {
    height: 40px;
    border: none;
    background-color: linen;
  }

  .beforeButton {
    position: absolute;
    top: 45%;
    left: 10px;
  }

  .beforeButton:disabled {
    display: none;
  }

  .beforeButton:hover {
    cursor: pointer;
  }

  .afterButton {
    position: absolute;
    top: 45%;
    right: 10px;
  }

  .afterButton:disabled {
    display: none;
  }

  .afterButton:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    text-align: center;
  }

  a:visited {
    color: black;
  }

  .showBtnWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
}
