.deleteButton {
  margin-right: 20px;
  margin-top: 10px;
  width: 90px;
  height: 40px;
  background-color: none;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
}
