@import '../../styles/variables.scss';

.cartContainer {
  background-color: #f5f6f8;

  .cartName {
    margin-left: 430px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
  }

  .cartBoxContainer {
    display: flex;
    align-content: center;
    border-radius: 5px;

    .cartBox {
      margin-left: 430px;
      margin-top: 20px;
      width: 600px;
      border: 1px solid gray;

      .cartBoxFirstLine {
        margin-left: 25px;
        line-height: 40px;
        font-weight: 700;
      }
      .cartBoxSecondLine {
        display: flex;
        justify-content: space-between;

        input[type='checkbox'] {
          transform: scale(1.4);
        }
        .cb1 {
          margin-top: 20px;
          width: 70px;
        }

        .secondLineText {
          margin-left: -380px;
          margin-top: 16px;
          font-size: 17px;
        }
      }
    }

    .priceBox {
      @include flexDirectColumn;
      text-align: center;
      align-items: center;
      margin-left: 50px;
      margin-top: 20px;
      width: 300px;
      height: 185px;

      .priceDetails {
        width: 300px;
        height: 180px;
        border: 1px solid gray;
      }

      .totalPrice {
        list-style: none;
        line-height: 200%;
        .checkBoxCircle {
          color: gray;
        }
      }
      .priceSum {
        background-color: #f7edd6;
        .totalBookPrice {
          font-size: 1.4rem;
          font-weight: bold;
          color: #f9b418;
        }
      }
    }
  }
}
