@import '../styles/common.scss';

.bookIntroduction {
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
  height: 100px;
  // border: 1px solid blue;

  .titleList {
    margin-left: 85px;
  }

  hr {
    margin-left: 85px;
    width: 715px;
  }
}

.titleList {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 700;
}

.text {
  margin-left: 85px;
  line-height: 25px;
}
