@import '../../../styles/variables.scss';

.aside {
  margin-right: 70px;

  .bigCategory {
    @include flexDirectColumn;
    margin-bottom: 50px;
  }

  .bigCategoryName {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: white;
    background-color: $endColor;
    font-size: 1.5rem;
  }

  .eachCategory {
    margin: 15px 0px;
    color: #808991;
  }

  .eachCategory:hover {
    color: $endColor;
    cursor: pointer;
  }
}
