@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.footer {
  position: relative;
  bottom: 0;
  height: 270px;
  width: 100%;
  background-color: #fb8928;
  font-family: 'KoPubDotumMedium';

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 100px;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 45%;
    margin: 30px auto auto auto;
    color: linen;

    .firstLine {
      margin-top: 20px;
    }

    .callNotice {
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: bold;

      .line {
        margin-left: 5px;
        margin-right: 5px;
        color: lightgray;
        font-weight: bold;
      }
    }

    .footerList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
      font-weight: bold;
    }

    .information {
      .wediInfo {
        display: block;
        margin-bottom: 10px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}
