.novelContainer {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 1100px;
  top: 166px;

  .categoryName {
    width: 170px;
    background-color: #fc912d;
    margin-top: 250px;

    span {
      display: inline-block;
      padding: 13px 75px 13px 13px;
    }

    .arrow {
      padding-top: 3px;
      transform: rotate(90deg);
    }
  }

  .novelWrap {
    width: 170px;
    background-color: #fffbea;

    a {
      &:link {
        text-decoration: none;
      }

      &:hover {
        color: #fc912d;
        font-weight: bold;
      }
    }
  }

  .listName {
    padding: 15px;
  }
}
