.totalContainerSignUp {
  border-style: #b0a8b9;
  background-color: #fbf3e2;
  height: 100vh;

  .signUpBody {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: #f7edd6;
  }
  .signUpSection {
    display: flex;
    flex-direction: column;
    width: 400px;

    .inputData {
      height: 50px;
      width: 400px;
      margin: 10px 0;
      background-color: white;
      border-radius: 5px;
      border-style: none;
      padding-left: 15px;
    }

    .choosePtag {
      padding-top: 20px;
      font-size: smaller;
    }

    .birthYearSex {
      height: 50px;
      margin: 10px 0 20px;

      .inputBirthYear {
        width: 170px;
        height: 50px;
        margin-right: 10px;
        border-style: none;
        background-color: white;
        border-radius: 5px;
        padding-left: 15px;
      }

      .buttonMaleFemale {
        width: 100px;
        height: 50px;
        border-style: none;
        margin-left: 8px;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .signInbutton {
      height: 55px;
      margin-top: 10px;
      background-color: #fc912d;
      border-radius: 5px;
      border: 0px;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
  }

  .errorMessage {
    color: red;
    font-size: 0.8rem;
    padding-left: 8px;
  }
}
