@import '../../styles/variables.scss';
* {
  border-style: #b0a8b9;
  background-color: #ebf6ff;

  .signInHeader {
    width: 100%;
    margin: 0;
    border-top: #d7e8f0 solid 1px;
    border-bottom: #d7e8f0 solid 1px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
      font-size: 1rem;
      font-weight: 900;
      text-decoration: none;
      color: #2c73d2;
    }
  }

  .loginNav {
    width: 100%;
    height: 100%;
    @include flexAlignCenter;
    justify-content: center;
    background-color: #ebf6ff;
  }
}
