@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.totalBox {
  background-color: #f5f6f8;

  .BookContainer {
    @include flexAlignCenter;
    justify-content: center;
    width: 800px;
    height: 400px;
    margin-left: 300px;
    margin-top: 166px;
    // border: 1px solid black;
    font-size: 20px;

    .imageBox {
      @include flexAlignCenter;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid blue;
      width: 350px;
      height: 400px;
    }

    .book1 {
      height: 65%;
      border-radius: 2px;
      box-shadow: 5px 5px 5px gray;
    }

    .previousView {
      width: 90px;
      height: 35px;
      margin: 10px;
      font-size: 15px;
      font-weight: 700;
    }
  }

  .RightBox {
    // border: 1px solid red;
    width: 450px;
    height: 400px;

    .bookExplanation {
      width: 400px;
      height: 230px;
      // border: 1px solid purple;

      .firstCategory {
        margin-top: 15px;
        font-size: 15px;
      }

      .bookTitle {
        margin-top: 15px;
        font-size: 35px;
        font-weight: 700;
      }

      .starRating {
        display: flex;
        margin-top: 25px;
        color: #ff4242;
      }

      .bookAuthor {
        margin-top: 25px;
        font-size: 20px;
      }

      .bookCompany {
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .bookPrice {
      padding-top: 24px;
      width: 400px;
      height: 70px;
      font-weight: 700;
      // border: 1px solid orange;
    }
    .purchaseButtons {
      display: flex;
      margin: 5px;
    }
  }

  .userReviews {
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    height: 150px;
    // border: 1px solid hotpink;

    .reviewTitle {
      margin-top: 5px;
      font-size: 17px;
      font-weight: 700;
    }

    .reviewName {
      margin-left: 85px;
    }

    hr {
      margin-left: 85px;
      width: 715px;
    }

    .starBox {
      margin-left: 42px;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 800px;
      height: 50px;
      text-align: center;
      line-height: 25px;
    }

    .reviewBox {
      display: flex;
      justify-content: flex-end;
      width: 800px;
      height: 60px;
      // border: 1px solid hotpink;

      .leftStars {
        margin-top: 3px;
        width: 100px;
        height: 50px;
        // border: 1px solid blue;
        line-height: 45px;
      }

      .reviewInput {
        margin-top: 10px;
        width: 530px;
        height: 40px;
        // border: 1px solid blue;
      }

      .itemAdd {
        margin: 10px;
        width: 70px;
        height: 40px;
        font-size: 13px;
        font-weight: 700;
      }
    }
  }

  .reviewsList {
    margin-left: 300px;
    width: 800px;
    height: 100px;
    // border: 1px solid skyblue;

    .users {
      margin-top: 5px;
      margin-left: 85px;
      font-size: 17px;
      font-weight: 700;
    }

    hr {
      margin-left: 85px;
      width: 715px;
    }

    .lastReviewContainer {
      display: flex;

      .leftlists {
        margin-left: 85px;
        width: 100px;
        height: 60px;
        // border: 1px solid blue;
        line-height: 55px;
      }
    }

    .itemText {
      line-height: 55px;
    }
  }
}
